@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
  //variable bleu en backgroud
  --blueBACK: #668bcb;
}

.html {
width: max-content;
background: linear-gradient(0deg, rgba(4,46,96,1) 0%, #004ac3 62%, #152f4e 100%);
}

body{display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;}
.title {
  width: -moz-fit-content;
  text-align: center;
  width: fit-content;
  color: #fa952a;
  margin-inline: auto;
  font-size: 10vw;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
  text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.6);
  justify-content: center;
  animation: animate 3s linear infinite;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 80%;
    background: linear-gradient(90deg, #ffffff, #fff, #ffffff);
    background-repeat: no-repeat;
    background-clip: text;
    z-index: -1; /* Place l'effet en arrière-plan du texte */
  }
}
@keyframes animate {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
.title.underTitle {
  font-size: 7vw;
  margin-bottom: 15px;
}

#colorChoice {
  display: flex;
  flex-flow:nowrap;
  position: sticky;
  //margin: auto;
  background: var(--blueBACK);
  width: 1410px;;
  max-width: max-content;
  height: max-content;
  padding: 1vh;
  border-radius: 20%;
  box-shadow: 2px 2px 10px -5px;
  justify-content: flex-start;
  margin-bottom: 5vh;
  margin-top: 2vh;
  z-index: 99;
  overflow-x: scroll;
}
#colorChoice.fullPageColorChoice{
  margin-top: 14vw;
}
#colorChoice.indexPage{
  margin-top:10%;
}

.resizeToolBlock {
  display: flex;
  // width and height set in the script.js
  margin: 1vh;
  flex-shrink: 0;
  border-radius: 25%;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  flex-shrink: 0;
}
#colorChoice div:hover {
  cursor: pointer;
  opacity: 70%;
  transform: rotate(45deg) scale(1.3, 1.3);
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

canvas{
  display: flex;
  justify-content: center;
}
button {
  background-color: #faf3e6;
  color: #151216;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  top: 5px;
  box-shadow: 1px 1px 5px 0.25px;
}
button:active {
  box-shadow: none;
}

#cursor {
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 0.25px solid black;
  box-sizing: border-box;
}
.fa-solid {
  font-size: 2vw;
}