@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
:root {
  --blueBACK: #668bcb;
}

html {
  width: 100%;
  height: 100%;
  background: rgb(4, 46, 96);
  background: linear-gradient(0deg, rgb(4, 46, 96) 0%, #004ac3 62%, #152f4e 100%);
}

.white {
  transform: opacity 2s ease-in-out;
  background: white;
  width: auto;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  touch-action: manipulation;
  width: 100%;
  margin: 0;
}

.title {
  display: flex;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: 6vw;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
  text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.6);
  justify-content: center;
  text-align: center;
  transition: animate 3s linear infinite;
  color: rgb(255, 153, 0);
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 1;
}

@keyframes animate {
  0% {
    background: -100%;
  }
  100% {
    background: 100%;
  }
}
.underTitle {
  font-size: 2em;
  margin-bottom: 20px;
}

#colorChoice {
  display: flex;
  flex-flow: nowrap;
  position: sticky;
  margin: auto;
  background: var(--blueBACK);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 85%;
  height: -moz-max-content;
  height: max-content;
  padding: 1vh;
  border-radius: 20%;
  box-shadow: 2px 2px 10px -5px;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 2vh;
  z-index: 99;
  overflow-x: scroll;
}

#colorChoice.fullPageColorChoice {
  margin-top: 14vw;
}

#colorChoice.indexPage {
  margin-top: 2vh;
}

.resizeToolBlock {
  display: flex;
  margin: 1vh;
  flex-shrink: 0;
  border-radius: 25%;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  flex-shrink: 0;
}

#colorChoice div:hover {
  cursor: pointer;
  opacity: 70%;
  transform: rotate(45deg) scale(1.3, 1.3);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translates {
  0%, 100%, 0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.color-Selected {
  transform: scale(1.3, 1.3);
}

.whitePen {
  color: #fff;
}

button {
  background-color: #faf3e6;
  color: #151216;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  top: 5px;
  box-shadow: 1px 1px 5px 0.25px;
}

button:active {
  box-shadow: none;
}

#cursor {
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 0.25px solid black;
  box-sizing: border-box;
}

.block {
  margin: 10px;
}

#output {
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: rgb(230, 209, 168);
  color: #000000;
}

.Tools {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--blueBACK);
  border-radius: 20px;
  flex-direction: column;
}

.Tools.contract {
  position: relative;
  margin-inline: auto;
}

.bis {
  right: none;
  left: 2%;
}

.toolBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  background-color: rgba(255, 255, 255, 0.216);
  cursor: grab;
}
.toolBlock:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.toolBlock:active {
  transform: scale(1);
  transition: transform 0.2s ease;
  cursor: grabbing;
}

.toolBlock .fa-solid {
  display: flex;
  justify-content: center;
}

canvas {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  z-index: 0;
  scale: 0.375;
  margin-top: -500px;
}
canvas:hover {
  cursor: crosshair;
}

#canvas.fullSize {
  margin-left: 13%;
}

#canvasMobile {
  scale: 0.9;
  margin-top: auto;
}

#Container {
  display: flex;
  justify-content: center;
  height: 60vh;
  transform-origin: 0px 0px;
  z-index: 0;
  background: var(--blueBACK);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 3vh;
}

#Container.FullPageContainer {
  background: none !important;
  transform: scale(2.4, 2.4);
  width: 33.33vw !important;
  width: inherit;
}

.indexPageContainer {
  background-color: none;
  overflow: auto;
}

#canvaBox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  z-index: 1;
}

#Popup-Overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.137254902);
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}

#Popup-Overlay.open {
  display: flex;
}

#Popup-Overlay.close {
  display: none;
}

.Popup-Content {
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(250, 243, 230, 0.2941176471);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 70%;
}

#Popup-Okay {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  box-shadow: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1em;
  padding: 1.2em;
}
#Popup-Okay :active {
  background-color: #fff;
}

#scroll-advice {
  cursor: row-resize;
}

#rightClick-advice {
  cursor: all-scroll;
}

#leftClick-advice {
  cursor: crosshair;
}

#Popup-button {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.icon-advice {
  width: 40px;
  height: 40px;
}

.icon-line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */